.rw-conversation-container .rw-header
{
    background-color: #148e71;
}

.rw-conversation-container .rw-messages-container .rw-message .rw-client
{
    background-color: #27a384;
}

.rw-launcher
{
    background-color: #02795b;
}